
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  font-family: sans-serif;
}


.container {
  text-align: center;
  color: white;
}


.container h1 {
  margin-bottom: 30px;
  font-size: 2rem;
  letter-spacing: 2px;
}


.ball {
  width: 60px;
  height: 60px;
  background: #ff4f4f;
  border-radius: 50%;
  position: relative;
  animation: bounce 1s infinite ease-in-out;
  animation-play-state: paused;   
}



@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}


.start button,
.stop button {
  margin: 20px 10px;
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#start-btn {
  background: #28a745;
  color: white;
}

#stop-btn {
  background: #dc3545;
  color: white;
}

